cvxopt
numpy
scipy
argparse
pywin32
pyserial
ctypes
git+ssh://marijn@siren.neuro.kuleuven.be/home/marijn/git/golem.git@marijn#egg=golem
git+ssh://marijn@siren.neuro.kuleuven.be/home/marijn/git/psychic.git@marijn#egg=psychic
git+ssh://marijn@siren.neuro.kuleuven.be/home/marijn/git/pyepoc.git@master#egg=pyepoc
